/* ============ VARIABLES =========== */
:root {
    --gray-900: #000000; /* color de la barra del menú */
    --gray-800: #191919; /* color principal de fondo */
    --gray-700: #2d2d2d; /* color fondo del pie y otros fondos */
    --gray-300: #c2c2c2; /* color general de los textos */
    --gray-200: #dddddd; /* color de los bordes de tabla y placeholder */
    --gray-000: #ffffff; /* color elementos en blanco */

    --color-primary: #C3C; /* color morado básico */
    --color-primary-hover: #C36; /* color hover de los enlaces */
    --color-form-accent: #a8017b; /* color de las líneas de los campos del formulario y el checkmark */

    --main-font-family: 'Roboto', sans-serif;
}
/* ============ END VARIABLES =========== */

/* ============ COMMON =========== */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--gray-800);
    font-family: var(--main-font-family);
    font-size: 16px;
    color: var(--gray-300);
}

html,
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: var(--color-primary);
    transition: all 0.15s ease;
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-hover);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3 {
    font-weight: 500;
    line-height: 1.3;
    margin-top: 0;
}

h4,
h5,
h6 {
    font-weight: 400;
}

p {
    margin: 0;
}

p + p {
    margin-top: 20px;
}

figure {
    margin: 0;
}
/* ============ END COMMON =========== */

/* ============ MAIN HEADER =========== */
.main-header {
    background: url(../img/cabecera.jpg) no-repeat center;
    min-height: 260px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 96px;
}

.main-header--tall {
    background: url(../img/slider_bg_overlay.png) no-repeat center;
    background-size: cover;
    min-height: 572px;
    margin-bottom: 0;
}

.main-header__claim {
    position: absolute;
    width: 1100px;
    left: 50%;
    transform: translateX(-50%);
}

.main-header__title {
    position: absolute;
    z-index: 1;
    max-width: 305px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 46px;
    line-height: 1.4em;
    transform: translateX(-60px) translateY(200px);
}

.main-header .social-media {
    position: absolute;
    z-index: 1;
    right: 210px;
    top: 10px;
}

@media (min-width: 551px) and (max-width: 1199px) {
    .main-header__title {
        position: absolute;
        z-index: 1;
        bottom: 200px;
        max-width: initial;
        font-size: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 550px) {
    .main-header {
        margin-bottom: 0;
    }

    .main-header .social-media {
        top: initial;
        bottom: 50px;
    }

    .main-header__title {
        position: absolute;
        z-index: 1;
        bottom: 0;
        max-width: initial;
        padding: 0 20px;
        background: none;
        font-size: 26px;
        transform: none;
    }

    .main-header__claim {
        position: static;
        width: 100%;
        transform: translateX(0);
    }

    .main-header--tall {
        min-height: initial;
    }
}
/* ============ END MAIN HEADER =========== */

/* ============ MAIN CONTENT =========== */
.main-content {
    flex: 2;
    padding: 30px 0;
}

.main-content__header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px !important;
}

.main-content__title {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-700);
}

.main-content__layout {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-content__content {
    flex: 3;
    padding-right: 5px;
}

.main-content__sidebar {
    margin-left: 5px;
    margin-top: 100px;
    background-color: var(--gray-700);
    padding: 30px 10px;
    border-radius: 10px;
    flex: 1;
}

@media (max-width: 767px) {
    .main-content__layout {
        display: block;
    }

    .main-content__sidebar {
        margin-top: 60px;
    }

    .main-content__content {
        padding-right: 0;
    }

    .main-content__sidebar {
        margin-left: 0;
    }
}

@media (max-width: 550px) {
    .main-content__header {
        margin-bottom: 30px !important;
    }

    .main-content__header .social-media {
        top: initial;
        bottom: 50px;
        display: flex;
        align-items: flex-start;
    }

    .main-content__header .big-brand {
        width: 60vw;
        display: block;
        margin-bottom: 10px;
    }

    .main-content__header .social-media__list {
        position: static;
    }

    .main-content__title {
        font-size: 1.8em;
    }
}
/* ============ END MAIN CONTENT =========== */

/* ============ MAIN FOOTER =========== */
.main-footer {
    background-color: var(--gray-700);
    padding: 55px 0;
}

.main-footer > .wrapped-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* ============ END MAIN FOOTER =========== */

/* ============ WRAPPED CONTENT =========== */
.wrapped-content {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* ============ END WRAPPED CONTENT =========== */

/* ============ MAIN NAVIGATION =========== */
.main-navigation {
    background-color: var(--gray-900);
    padding: 23px 0;
    position: relative;
    z-index: 1;
    margin-bottom: -96px;
}

.main-header--tall .main-navigation {
    margin-bottom: 45px;
}

.main-navigation > .wrapped-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navigation__brand {
    transform: translateY(-7px);
}

.main-navigation__items {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 15px 0 0 auto;
}

.main-navigation__item a {
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
}

.main-navigation__item a::after,
.main-navigation__item--active a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 3px;
    opacity: 0;
    width: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.main-navigation__item a:hover::after,
.main-navigation__item--active a::after {
    opacity: 1;
    width: 100%;
    background: radial-gradient(ellipse farthest-corner at center center, var(--color-primary-hover) 0%, transparent 100%);
}

.main-navigation__item--active a {

}

.main-navigation__item--active a:hover {

}

@media (min-width: 551px) and (max-width: 767px) {
    .main-navigation__item a {
        padding: 10px 5px;
        font-size: 13px;
    }
}

@media (min-width: 551px) and (max-width: 991px) {
    .main-navigation > .wrapped-content {
        display: block;
    }
}

@media (max-width: 550px) {
    .main-navigation {
        background-color: transparent;
    }

    .main-navigation .main-navigation__items {
        display: none;
    }

    .main-navigation > .wrapped-content {
        display: block;
    }

    .main-navigation {
        margin-bottom: -16px;
    }
}
/* ============ END MAIN NAVIGATION =========== */

/* ============ MAIN NAVIGATION MOBILE =========== */
.burger {
    border: 1px solid var(--gray-200);
    width: 46px;
    height: 40px;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
}

.burger__bar {
    position: absolute;
    left: 6px;
    right: 6px;
    height: 4px;
    background-color: var(--gray-200);
    display: block;
    transition: all 0.3s ease;
}

.burger__bar:first-child {
    top: 6px;
}

.burger__bar:nth-child(2) {
    top: 17px;
    opacity: 1;
}

.burger__bar:last-child {
    top: 28px;
}

.burger--is-open .burger__bar:first-child {
    top: 17px;
    transform: rotate(45deg);
}

.burger--is-open .burger__bar:nth-child(2) {
    opacity: 0;
    transform: rotate(180deg);
}

.burger--is-open .burger__bar:last-child {
    top: 17px;
    transform: rotate(-45deg);
}

.main-navigation-mobile .main-navigation__items {
    margin: 0;
    list-style: none;
    position: absolute;
    left: -100%;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    top: 80px;
    padding: 20px 20px 20px 2px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: left 0.3s ease;
}

.main-navigation-mobile .main-navigation__item {
    line-height: 1.75;
}

.main-navigation-mobile .main-navigation__items--is-open {
    left: 0;
}

@media (min-width: 551px) {
    .burger {
        display: none;
    }
}
/* ============ END MAIN NAVIGATION MOBILE =========== */

/* ============ BULLET SENTINELS =========== */
.bullet-sentinels {
    text-transform: uppercase;
}

.bullet-sentinels::before,
.bullet-sentinels::after {
    content: " · ";
}
/* ============ END BULLET SENTINELS =========== */

/* ============ SOCIAL MEDIA =========== */
.social-media {

}

.social-media__title {

}

.social-media__list {
    position: absolute;
    margin: 0;
    padding-left: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

.social-media li {
    transition: all 0.15s ease;
    transform: scale(0.75);
    padding: 1px;
}

.social-media li:hover {
    background-color: var(--color-form-accent);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    box-shadow: 0 0 0 2px var(--color-form-accent);
}

.social-media a {
    display: block;
    background: url(../img/sprite_icons.png) no-repeat left top;
    width: 41px;
    height: 43px;
}
.social-media .social-media__facebook {
    background-position: 0 0;
}

.social-media .social-media__facebook:hover {
    background-position: 0 -53px;
}

.social-media .social-media__twitter {
    background-position: -53px 0;
}

.social-media .social-media__twitter:hover {
    background-position: -53px -53px;
}

.social-media .social-media__instagram {
    background-position: -159px 0;
}

.social-media .social-media__instagram:hover {
    background-position: -159px -53px;
}

.social-media .social-media__pinterest {
    background-position: -106px 0;
}

.social-media .social-media__pinterest:hover {
    background-position: -106px -53px;
}
/* ============ END SOCIAL MEDIA =========== */

/* ============ BLOG POSTS =========== */
.blog-posts {

}

.blog-posts p {
    text-align: justify;
}

.blog-posts__featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.blog-posts__featured .button {
    margin-top: 20px;
}

.blog-posts__latests {
    margin-top: 60px;
}

.post-summary {
    border-bottom: 3px solid var(--gray-000);
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.post-summary:last-child {
    margin-bottom: 0;
}

.post-summary__content {
    overflow: auto;
}

.post-summary h3 {
    text-decoration: underline;
}

.post-summary__content img {
    float: left;
    max-width: 200px;
    margin-right: 20px;
    margin-top: 15px;
}

.post-summary__content .button {
    margin-top: 15px;
    float: right;
}

@media (max-width: 767px) {
    .blog-posts__featured {
        grid-template-columns: 1fr;
    }
}
/* ============ END BLOG POSTS =========== */

/* ============ BUTTONS =========== */
.button {
    display: inline-block;
    border: 1px solid var(--color-primary);
    padding: 6px 30px;
    border-radius: 6px;
    transition: all 0.15s ease;
}

.button:hover {
    color: var(--gray-000);
    background-color: var(--color-primary);
}

.button--small {
    font-size: 0.80em;
}
/* ============ END BUTTONS =========== */

/* ============ RECORDS GRID =========== */
.records-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.records-grid__item {

}

.records-grid__figure {
    position: relative;
    overflow: hidden;
}

.records-grid__image {
    min-height: 230px;
    object-fit: cover;
    transition: all 5s ease-out;
}

.records-grid__item:hover .records-grid__image {
    transform: scale(1.15);
    transition: all 5s ease-out;
}

.records-grid__caption {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e3d1d6;
    transition: opacity 0.15s ease;
}

.records-grid__item:hover .records-grid__caption {
    opacity: 1;
}

.records-grid__record-name {
    font-weight: 700;
    margin-bottom: 10px;
}

@media (max-width: 550px) {
    .records-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* ============ END RECORDS GRID =========== */

/* ============ PRODUCTS TABLE =========== */
.products-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--gray-700);
    color: var(--gray-300);
}

.products-table caption {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.4em;
}

.products-table th {
    width: 20%;
    text-transform: uppercase;
    padding: 10px;
}

.products-table tbody td {
    text-align: center;
    padding: 15px;
}

.products-table tbody td img {
    max-width: 109px;
}

.products-table tr {
    border: 1px solid var(--gray-300);
}

.products-table__cell-heading {
    text-transform: uppercase;
    display: none;
}

@media (max-width: 550px) {
    .products-table tbody td {
        display: flex;
        justify-content: space-between;
    }

    .products-table__cell-heading {
        display: block;
    }

    .products-table thead {
        display: none;
    }

    .products-table tr {
        border: none;
    }

    .products-table tr td:last-child {
        margin-bottom: 10px;
        border: 1px solid var(--gray-300);
    }

    .products-table td {
        border: 1px var(--gray-300);
        border-style: solid solid none;
        display: flex;
    }

    .products-table td .button {
        margin-left: auto;
    }
}
/* ============ END PRODUCTS TABLE =========== */

/* ============ FORMS =========== */
form {
    margin: 20px 0;
}

fieldset {
    margin-bottom: 10px;
    padding: 15px 20px 20px 15px;
}

legend {
    font-size: 1.1em;
}

.form-control {
    border-radius: 0;
    color: var(--gray-000);
    background: var(--gray-800);
    border: 2px var(--color-form-accent);
    border-style: none none solid;
    height: 36px;
    width: 100%;
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 20px;
    padding: 5px 10px;
}

textarea.form-control {
    border-style: solid;
    height: 150px;
    resize: vertical;
}

select.form-control {
    background: url(../img/down-arrow.svg) no-repeat center right 10px;
}

.checkbox-group {
    position: relative;
    margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group label {
    display: flex;
    align-items: center;
}

.checkbox-group__label-text {

}

.checkbox-group label::before {
    content: "";
    width: 27px;
    height: 27px;
    border: 1px solid var(--color-form-accent);
    background-color: var(--gray-200);
    margin-right: 8px;
}

.checkbox-group input[type="checkbox"]:checked + label::before {
    background-color: var(--color-form-accent);
}

.checkbox-group input[type="checkbox"]:checked + label::after {
    content: url(../img/tick-mark.svg);
    position: absolute;
    left: 0;
}

.button-group button {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background-color: var(--gray-700);
    border-radius: 4px;
    color: var(--gray-000);
    border-color: transparent;
    padding: 10px;
    font-size: 1em;
    transition: all 0.15s ease;
}

.button-group button[type="submit"] {
    border: 1px solid var(--color-form-accent);
}

.button-group button:hover {
    color: var(--gray-000);
    background-color: var(--color-form-accent);
}

::-ms-input-placeholder {
    color: var(--gray-000);
}

::placeholder {
    color: var(--gray-000);
}
/* ============ END FORMS =========== */

/* ============ COLUMNS =========== */
.columns-group {
    display: flex;
}

.columns-group__column {

}

.columns-group__column--2 {
    flex: 2;
}

.columns-group__column--4 {
    flex: 4;
}

@media (max-width: 550px) {
    .columns-group {
        display: block;
    }
}
/* ============ END COLUMNS =========== */

/* ============ PROMO WIDGET =========== */
.promo-widget {
    text-align: right;
}

.promo-widget__title {

}

.promo-widget__figure {

}

.promo-widget__details {
    margin-top: 20px;
}
/* ============ END PROMO WIDGET =========== */

/* ============ BIG BRAND =========== */
.big-brand {}
/* ============ END BIG BRAND =========== */

/* ============ PAGES =========== */
.page {}

.page--home {

}

@media (max-width: 550px) {
    .page--home .main-navigation {
        display: none;
    }
}
/* ============ END PAGES =========== */
