/* ============ VARIABLES =========== */
:root {
    --gray-900: #000000; /* color de la barra del menú */
    --gray-800: #191919; /* color principal de fondo */
    --gray-700: #2d2d2d; /* color fondo del pie y otros fondos */
    --gray-300: #c2c2c2; /* color general de los textos */
    --gray-200: #dddddd; /* color de los bordes de tabla y placeholder */
    --gray-000: #ffffff; /* color elementos en blanco */

    --color-primary: #C3C; /* color morado básico */
    --color-primary-hover: #C36; /* color hover de los enlaces */
    --color-form-accent: #a8017b; /* color de las líneas de los campos del formulario y el  checkmark */

    --main-font-family: 'Roboto', sans-serif;
}
/* ============ END VARIABLES =========== */
/* ============ COMMON =========== */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--gray-800);
    font-family: var(--main-font-family);
    font-size: 16px;
    color: var(--gray-300);
}

html,
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: var(--color-primary);
    transition: all 0.15s ease;
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-hover);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h4,
h5,
h6 {
    font-weight: 400;
}

p {
    margin: 0;
}

p + p {
    margin-top: 20px;
}

figure {
    margin: 0;
}
/* ============ END COMMON =========== */

/* ============ MAIN HEADER =========== */
.main-header {
    background: url(../img/cabecera.jpg) no-repeat center;
    min-height: 260px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 96px;
}

.main-header--tall {
    background: url(../img/slider_bg_overlay.png) no-repeat center;
    background-size: cover;
    min-height: 572px;
}

.main-header__claim {
    position: absolute;
    width: 1100px;
    left: 50%;
    transform: translateX(-50%);
}

.main-header__title {
    position: absolute;
    z-index: 1;
    max-width: 305px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 46px;
    line-height: 1.4em;
    transform: translateX(-60px) translateY(200px);
}
/* ============ END MAIN HEADER =========== */

/* ============ MAIN CONTENT =========== */
.main-content {
    flex: 2;
}

.main-content__header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content__title {
    text-align: center;
}

.main-content__layout {
    display: flex;
    flex-wrap: wrap;
}

.main-content__content {
    flex: 3;
    padding-right: 5px;
}

.main-content__sidebar {
    margin-left: 5px;
    margin-top: 100px;
    background-color: var(--gray-700);
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}

@media (max-width: 550px) {
    .main-content__content {
        margin-right: 0;
    }

    .main-content__sidebar {
        margin-left: 0;
    }
}
/* ============ END MAIN CONTENT =========== */

/* ============ MAIN FOOTER =========== */
.main-footer {
    background-color: var(--gray-700);
    padding: 55px 0;
}

.main-footer > .wrapped-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* ============ END MAIN FOOTER =========== */

/* ============ WRAPPED CONTENT =========== */
.wrapped-content {
    max-width: 960px;
    margin: 0 auto;
}
/* ============ END WRAPPED CONTENT =========== */

/* ============ MAIN NAVIGATION =========== */
.main-navigation {
    background-color: var(--gray-900);
    padding: 23px 0;
    position: relative;
    z-index: 1;
    margin-bottom: -96px;
}

.main-header--tall .main-navigation {
    margin-bottom: 45px;
}

.main-navigation > .wrapped-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-navigation__brand {
    transform: translateY(-7px);
}

.main-navigation__items {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 15px 0 0 auto;
}

.main-navigation__item a {
    padding: 10px 15px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease;
}

.main-navigation__item a::after,
.main-navigation__item--active a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 3px;
    opacity: 0;
    width: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.main-navigation__item a:hover::after,
.main-navigation__item--active a::after {
    opacity: 1;
    width: 100%;
    background: radial-gradient(ellipse farthest-corner at center center, var(--color-primary-hover) 0%, transparent 100%);
}

.main-navigation__item--active a {

}

.main-navigation__item--active a:hover {

}
/* ============ END MAIN NAVIGATION =========== */

/* ============ BULLET SENTINELS =========== */
.bullet-sentinels {
    text-transform: uppercase;
}

.bullet-sentinels::before,
.bullet-sentinels::after {
    content: " · ";
}
/* ============ END BULLET SENTINELS =========== */

/* ============ SOCIAL MEDIA =========== */
.social-media {

}

.social-media__title {

}

.social-media__list {
    position: absolute;
    margin: 0;
    padding-left: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

.social-media li {
    transition: all 0.15s ease;
    transform: scale(0.75);
    padding: 1px;
}

.social-media li:hover {
    background-color: var(--color-form-accent);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    box-shadow: 0 0 0 2px var(--color-form-accent);
}

.social-media a {
    display: block;
    background: url(../img/sprite_icons.png) no-repeat left top;
    width: 41px;
    height: 43px;
}
.social-media .social-media__facebook {
    background-position: 0 0;
}

.social-media .social-media__facebook:hover {
    background-position: 0 -53px;
}

.social-media .social-media__twitter {
    background-position: -53px 0;
}

.social-media .social-media__twitter:hover {
    background-position: -53px -53px;
}

.social-media .social-media__instagram {
    background-position: -159px 0;
}

.social-media .social-media__instagram:hover {
    background-position: -159px -53px;
}

.social-media .social-media__pinterest {
    background-position: -106px 0;
}

.social-media .social-media__pinterest:hover {
    background-position: -106px -53px;
}
/* ============ END SOCIAL MEDIA =========== */

/* ============ BLOG POSTS =========== */
.blog-posts {

}

.blog-posts__featured {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.blog-posts__latest article {

}

.post-summary {
    border-bottom: 3px solid var(--gray-000);
    padding-bottom: 30px;
}

.post-summary__content {
    overflow: auto;
}

.post-summary__content img {
    float: left;
    max-width: 200px;
    margin-right: 20px;
    margin-top: 15px;
}

.post-summary__content .button {
    float: right;
}
/* ============ END BLOG POSTS =========== */

/* ============ BUTTONS =========== */
.button {

}

.button--small {

}

.button--outline {

}
/* ============ END BUTTONS =========== */

/* ============ RECORDS GRID =========== */
.records-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.records-grid__item {

}

.records-grid__figure {
    position: relative;
    overflow: hidden;
}

.records-grid__image {
    min-height: 230px;
    object-fit: cover;
    transition: all 5s ease-out;
}

.records-grid__item:hover .records-grid__image {
    transform: scale(1.15);
    transition: all 5s ease-out;
}

.records-grid__caption {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e3d1d6;
    transition: opacity 0.15s ease;
}

.records-grid__item:hover .records-grid__caption {
    opacity: 1;
}

.records-grid__record-name {
    font-weight: 700;
    margin-bottom: 10px;
}
/* ============ END RECORDS GRID =========== */
